#conversation {
	position: absolute;
	left: 500px;
	padding-top: 40px;
	overflow-y: scroll;
	height:400px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('images/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#datasend {
	margin: 10px;
	position: absolute;
	left: 920;
	top: 160;


}

#data {
	font-size: 30px;
}